
html, body {
	/*height: 100%;*/
}

html {

	font-size: 16px;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

body {
	color: #fff;
	font-size: 1.375rem;
	background: #0e2745;
	color: rgba(255, 255, 255, .75);
	margin: 2.5em 0 0 1em;
	-webkit-text-size-adjust: none;
	/*overflow-x: hidden;*/
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

/* invisible checkbox helps to toggle Button */
.toggle-element {
	display: none;
}

/*
animation
handle show/hide elements with toggle

toggle off (unchecked)
first hide elements, that show in toggle on modus only
*/
.content .graph,
.toggle-element-label .fa-toggle-on {
	display: none;
}

/*
toggle on (:checked)
show elememts in toggle on modus and hide elements of toggle off modus
*/
.toggle-element:checked ~ .toggle-element-label .fa-toggle-off {
	display: none;
}
.toggle-element:checked ~ .graph,
.toggle-element:checked ~ .toggle-element-label .fa-toggle-on {
	display: inline-block;
}
.toggle-element:checked ~ .start-wrapper {
  right: -50%;
  animation-duration: .5s;
  animation-name: slideOut;
  position: relative;
  height: 0;
  animation-fill-mode: forwards;
}
.toggle-element:checked ~ .graph {
  animation-duration: .5s;
  animation-name: slideIn;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  opacity: 0;
  margin-left: 0;
  animation-fill-mode: forwards;
}

/* animation settings */
@keyframes slideIn {
  from {
  margin-left : 100%;
  }
  to {
  	opacity: 1;
    margin-left: 0;
  }
}
@keyframes slideOut {
  from {
	opacity: 1;
 	right : 0;
  }
  to {
  	opacity: 0;
    right: -50%;
  }
}

/* toggle element */
.toggle-element-label {
	left: 0;
    position: fixed;
    font-size: 1.625em;
    top: 0;
    width: 100%;
    background: #03162D;
    z-index: 1;
    line-height: 65px;
}
.toggle-element-label i {
	margin-left: .625em;
}
.toggle-element-label .fa-toggle-on:after,
.toggle-element-label .fa-toggle-off:after {
    font: 300 .375em 'Work Sans', Arial, Helvetica, sans-serif;
    position: relative;
    left: 0.5em;
    top: -1.125em;
}
.toggle-element-label .fa-toggle-on:after {
	content: 'switch to me';
}
.toggle-element-label .fa-toggle-off:after {
	content: 'switch to timeline';
}
/* content */
.content-wrapper {
	overflow: hidden;
    margin-bottom: 1em;
}
.content {
	font-weight: 100;
	position: relative;
	width: 200%;
}
.content .start-wrapper {
	float: left;
	width: 50%;
}
.content .intro {
	font-weight: 100;
	margin-top: 2em;
}
.content .title {
	font-weight: 900;
    background: rgba(255, 255, 255, .75);
    color: #0e2745;
    text-align: right;
    padding-right: 1em;
    line-height: 2.5em;
    margin: .5em 0 .25em 0;
}
.content .information {
	font-weight: 100;
	line-height: 1.5em;
	margin-bottom: 2em;
	padding-right: 1em;
}

/*graph wrapper*/
.content .graph {
	width: 50%;
	float: left;
	margin: .5em 0 2em;
}
.content .graph .item{
	font-size: .625em;
	margin-bottom: .75em;
}
.content .graph .item span {
    width: 12%;
    display: inline-block;
    border-left: 1px solid;
    text-align: center;
}
.content .graph .period {
    border-bottom: 1px solid rgba(255, 255, 255, .75);
    margin-top: 1em;
}
.content .graph .skill {
    background: rgba(255, 255, 255, .75);
    border-bottom: 0;
    color: #0e2745;
    text-align: center;
    float: right;
    clear: both;
    font-weight: 500;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.125em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content .graph .skill.php {
	width: 95%;
}
.content .graph .skill.html-css {
	width: 100%;
}
.content .graph .skill.sass-less {
	width: 64%;
}
.content .graph .skill.responsive {
	width: 46%;
}
.content .graph .skill.css3-html5 {
	width: 73%;
}
.content .graph .skill.js {
	width: 69%;
}
.content .graph .skill.cms {
	width: 100%;
}

/* Footer */
.footer {
	width: 100%;
    font-weight: 300;
    background: #03162D;
    float: left;
    left: 0;
    position: fixed;
    bottom: 0;
    line-height: 65px;
    text-align: center;
}
.footer a,
.footer a:link
.footer a:visited {
	color: rgba(255, 255, 255, .75);
	text-decoration: none;
}
.footer a:hover {
	color: rgba(255, 255, 255, .5);
}
.footer a:active,
.footer a:focus {
	color: rgba(255, 255, 255, .5);
	outline: none;
}
.footer a .fa {
	margin-left: .25em;
}
.footer a .text {
	display: none;
}

@media (min-width: 1024px) {
	body {
		font-size: 1.75rem;
	}
}
